<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 -->
	<typeAliases>
		<typeAlias type="org.scit.app.vo.User" alias="User"/>
	</typeAliases>
	
	<!-- SQL문 정의한 파일 포함 -->
	<mappers>
		<mapper resource="mappers/userMapper.xml"/>
	</mappers>
	
</configuration>
