<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scit.app.persistence.ChatDao">
<insert id="insertRecord" parameterType="Chat">
	insert into jado_chat(chatNum,content,chatDate,memNum,thmNum,chatType) 
	values('C'||to_char(lpad(seq_cht.nextval, 9, '0')),#{content},sysdate,
	(select memNum from jado_member where userNum = #{userNum} and proNum = #{proNum}),
	#{thmNum}, #{chatType})
</insert>
<insert id="insertscrap" parameterType="Scrap">
	insert into scrap(title, content, startDate, userNum)
	values(#{title},#{content},sysdate,#{themeName})
</insert>
<select id="readScrapList" parameterType="String" resultType="Scrap">
	select title from scrap where userNum = #{userNum}
</select>
<select id="getScrap" parameterType="Scrap" resultType="String">
	select content from scrap where userNum = #{themeName} and title = #{title}
</select>
<update id="updateScrap" parameterType="Scrap">
	update scrap set content =#{content}, startDate = sysdate where userNum = #{themeName} and title = #{title} 
</update>
<insert id="insertMessage" parameterType="Msg">
	insert into jado_msg(content,startDate,sender,receiver
	<if test="isinvate!=null">
	,isinvate
	</if>
	) values(#{content},sysdate,#{sender},#{receiver}
	<if test="isinvate!=null">
	,#{isinvate}
	</if>
	)
</insert>	
<select id="selectMsgList" parameterType="String" resultType="Msg">
	select * from jado_msg where receiver = #{receiver} order by startDate desc
</select>
<delete id="deleteInvite" parameterType="map">
	delete jado_msg where receiver = #{receiver} and substr(content,1,10) = #{proNum}
</delete>

</mapper>   