<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scit.app.persistence.UserDao">

	<select id="selectUser" parameterType="User" resultType="User">
		select * from jado_user
		where id = #{id} and password = #{password}
	</select>
	
	<insert id="insertUser" parameterType="User">
	insert into jado_user
	(
	userNum, id, password, name
	<if test="googleId != null">
	, googleId
	</if>
	)				
	values 
	(
	'U'||to_char(lpad(seq_user.nextval, 9, '0')), #{id}, #{password}, #{name}
	<if test="googleId != null">
	, #{googleId}
	</if>
	)
	</insert>
	
	<update id="agreeProject" parameterType="String">
	update jado_member set agreed='Y' where memNum=#{memNum}
	</update>
	
	<delete id="disagreeProject" parameterType="String">
	delete jado_member where memNum=#{memNum}
	</delete>
<select id="idCheck" parameterType="string">
		select * from jado_user
		where id = #{id}
	</select>
	<select id="selectProjectList" parameterType="string" resultType="Project">
		select jado_project.* from jado_project, jado_member where jado_member.usernum=#{userNum} and jado_project.pronum=jado_member.pronum
	</select>
	
	<select id="selectReceiver" parameterType="string" resultType="User">
		select * from jado_user
		where id = #{id}
	</select>
</mapper>   