<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scit.app.persistence.ProjectDao">
 <insert id="insertTheme" parameterType="Theme">
	insert into JADO_THEME (thmNum,proNum,themeName)
	values ('T'||to_char(lpad(seq_thm.nextval, 9, '0')),#{proNum},#{themeName})
</insert>
	
 <insert id="insertProject" parameterType="Project">
	insert into jado_project (proNum,title,startDate,userNum)
	values ('P'||to_char(lpad(seq_pro.nextval, 9, '0')),#{title},sysdate,#{userNum})
	</insert>
	
	<insert id="insertLeader" parameterType="String">
		insert into jado_member (userNum,proNum,memNum,agreed)
		values (
		#{userNum},
		(select max(proNum) from jado_project),
		concat(#{userNum},(select max(proNum) from jado_project)),
		'Y')
	</insert>
	
	<insert id="insertMember" parameterType="HashMap">
	insert into jado_member (userNum,proNum,memNum,agreed)
	values (
	#{userNum},#{proNum}, concat(#{userNum},#{proNum}),'N')
	</insert>
	
	<select id="selectUserList" parameterType="String" resultType="User">
	select * from jado_user where userNum in (select userNum from jado_member where proNum=#{proNum} and agreed='Y')
	</select> 
	
	<insert id="insertGantchart" parameterType="Gantchart">
	insert into jado_gantchart values(#{gantNum},#{todo},#{proNum})
	</insert> 
	<insert id="insertGantMember" parameterType="GantMember">
	insert into jado_gantmember values(#{userNum},#{gantNum},#{startDate},#{duration})
	</insert> 
	
	<delete id="deleteGantchart" parameterType="String">
	delete from jado_gantchart where proNum=#{proNum}	
	</delete>
	
	<select id="selectGantchart" parameterType="String" resultType="Gantchart">
	select * from jado_gantchart where proNum=#{proNum}	order by gantNum
	</select>
	<select id="selectGantMember" parameterType="String" resultType="GantMember">
	select userNum, gantNum, to_char(startdate,'yyyy/mm/dd') startdate, duration from jado_gantmember where gantNum=#{gantNum} order by startdate
	</select>
	
	
	<select id="selectThemeList" parameterType="String" resultType="Theme">
	 select * from jado_theme where proNum = #{proNum}
	</select>
	
	<delete id="deleteProject" parameterType="String">
		delete from jado_project where proNum= #{proNum}
	</delete>
	<delete id="deleteALLMember" parameterType="String">
		delete from jado_member where proNum= #{proNum}	
	</delete>
	<delete id="deleteALLTheme" parameterType="String">
		delete from jado_theme where proNum= #{proNum}		
	</delete>
		
	<delete id="deleteTheme" parameterType="String">
		delete from jado_theme where thmNum= #{thmNum}		
	</delete>
	<select id="selectProject" parameterType="String" resultType="string">
		select title from jado_project where proNum=#{proNum}
	</select>
	<insert id="insertStorage" parameterType="Storage">
		insert into jado_storage(filename, thmNum) values(#{fileName},#{thmNum})
	</insert>
	<select id="selectStorageList" parameterType="String" resultType="Storage">
		select filename, thmNum from jado_storage where thmNum= #{thmNum}
	</select>
	<select id="selectBookList" parameterType="string" resultType="Chat">
 		select distinct to_char(chatdate,'yy/mm/dd hh') as chatDate, thmnum from jado_chat where thmnum =#{thmNum} and chatType='chat'
	</select>
	<select id="viewBook" parameterType="map" resultType="Chat">
		select content from jado_chat where thmnum=#{thmNum} and to_date(to_char(chatdate,'yy/mm/dd hh'),'yy/mm/dd hh') = to_date(#{chatDate},'yy/mm/dd hh') and chatType='chat'
	</select>
	
</mapper>   
